html, body {
margin: 1em;
height: 100%;
font-size: 100%;
}
* {
font-family: Verdana, Arial, Helvetica, sans-serif;
}
table.first {
border-collapse: separate;
border: 2px solid black;
}
table.first th, table.first td {
border: 2px solid blue;
}
table.first tr:nth-child(odd) {
background-color: lightblue;
}
table.second {
border-collapse: collapse;
border: 2px solid purple;
caption-side: bottom;
}
table.second th {
background-color: salmon;
}
table.second th, table.second td {
padding: 0.7em;
vertical-align: middle;
border: 2px solid purple;
}
table.second thead tr:first-child{
border-bottom: 2px solid purple;
}

table.third {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #f46b45;
  margin: 1rem 0;
}

table.third caption {
  caption-side: top;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #d8f9c7;
  padding: 0.6em;
  margin-bottom: 0.4em;
  border: 2px solid #f46b45;
  border-bottom: none;
}

table.third th,
table.third td {
  border: 1px solid #f46b45;
  padding: 0.8em 0.9em;
}

table.third thead th {
  background-color: #d8f9c7;
}

table.third tbody tr:nth-child(even) td {
  background-color: #faf7f3;
}

table.third td:first-child {
  text-align: center;
}
